<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="col-md-3 .col-md-offset-5"></div>
      <%= render "shared/navigator" %>
      <div>
        <% if @activities.any? %>
          <ul class="users home">
            <%= render @activities %>
          </ul>
          <%= will_paginate @activities %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "welcome" %></h1>
    <%= link_to t("signin"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
