<div class="col-md-6 col-md-offset-3">
  <h1>
    <b><%= @lesson.category.name %> <%= t "lesson.result" %></b><br/>
    <%= @true_answers.count %>/<%= @lesson.lesson_words.count%>
  </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t "lesson.correct" %></th>
        <th><%= t "lesson.question" %></th>
        <th><%= t "lesson.answer" %></th>
      </tr>
    </thead>
    <tbody>
      <% @lesson.lesson_words.each do |lesson_word| %>
        <% if lesson_word.answer.nil? %>
          <tr class="danger" >
            <td><%= t "lesson.false" %></td>
            <td><%= lesson_word.word.content %></td>
            <td><%= t "lesson.no_choose" %></td>
          </tr>
        <% else %>
          <tr class="<%= lesson_word.answer.correct ?
            'success' : 'danger' %>" >
            <td><%= lesson_word.answer.correct ?
                t("lesson.true") : t("lesson.false") %></td>
            <td><%= lesson_word.word.content %></td>
            <td><%= lesson_word.answer.content %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
