<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for words_path, method: :get do |f| %>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          <%= select_tag :category_id,
            options_from_collection_for_select(
            @categories, :id, :name, params[:category_id]),
            include_blank: t("words.filter.all"), class: "form-control" %>
        </div>
        <div class="col-xs-4 col-sm-6">
        <% Settings.filter_option.each do |of| %>
          <label>
            <%= radio_button_tag :option, of,
              (checked = true if params[:option] == of),
                class: "radio-inline" %>
            <%= t "words.filter.#{of}" %>
          </label>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-6">
      <%= f.submit t("words.filter_tag"), class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <% if @words.any? %>
    <%= will_paginate %>
    <ul class="users">
      <%= render @words %>
    </ul>
    <%= will_paginate %>
  <% end %>
  </div>
</div>
